w.col-centered {
float: none;
margin: 0 auto;
}

.component:hover {
    background-color: #C4E3F3;
}

.shadow {
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1)
}

.top-margin {
    margin-top:50px;
}

.top-margin2 {
    margin-top:20px;
}

.bottom-margin {
margin-bottom:20px;
}

.jumbotron{
	margin-top:50px;
}

.blackbg {
background-color:black;
}



.toggle {}

.body-toggled {}

.float-right {float:right}

.float-left {float:left}

.sliderheight {
    height:10px;
}

.customcheck:not(:last-child) {
    margin-bottom:20px;
}

.table-border {


      border-bottom: 1px solid #428BCA;
}

.panel-body .cover{
	position: absolute;
    /* position in top left of #tobecovered */
    top: -20px; /* top of #tobecovered */
    margin:0 auto;
    padding-bottom:50px;


    width: 85%;
    pointer-events:none;
}


.overlay{

    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:100000;
}

#dropdown-menu h2 {
    padding: 14px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}
#dropdown-menu .sample {
    width: 200px;
}
#dropdown-menu .form-control-wrapper {
    margin: 30px 0;
}

#complete {
    margin-top: 0px;
}

.compile-panel{
    width:20%;
    float:left;
    height:20%;
}

#speciale-img{
    height:184px;
    width:184px;
}

