w.col-centered {
float: none;
margin: 0 auto;
}

.component:hover {
    background-color: #39D1B4;
}

.top-margin {
    margin-top:50px;
}

.jumbotron{
	margin-top:50px;
}

.blackbg {
background-color:black;
}

.toggle {}

.body-toggled {}

.float-right {float:right}

.float-left {float:left}

.sliderheight {
    height:10px;
}

.customcheck:not(:last-child) {
    margin-bottom:20px;
}

.table-border {


      border-bottom: 1px solid #428BCA;
}

.panel-body .cover{
	position: absolute;
    /* position in top left of #tobecovered */
    top: 0; /* top of #tobecovered */
    margin:0 auto;
    width: 85%;
}




