{% load static %}
<div class="panel panel-default" id="mainsecond" style="display:none">
    <div class="panel-body">

        <div class="col-lg-12">

            <div class="compile-panel ">
                <div class="panel panel-default component">
                    <div class="panel-body">
                        <a href="/processoren/"><img class="center-block col-md-12" id="processoren-test-id" src='{% static "img/cpu.png" %}' alt="Show 'Processoren'"></a>
                    </div>
                    <div class="panel-footer ">
                        <h4 class="text-center">Processor</h4>
                    </div>
                    <div class="dropdown-panel">
                        <div class="form-control-wrapper"><select class="form-control" id="sort-by" onchange="filter()">
                            <option value="0">Sorteer op</option>
                            <option value="prijs-op">Prijs (oplopend)</option>
                            <option value="prijs-af">Prijs (aflopend)</option>
                            <option value="titel-op">Titel (A - Z)</option>
                            <option value="titel-af">Titel (Z - A)</option>
                        </select><span class="material-input"></span></div>
                    </div>
                </div>
            </div>

            <div class="compile-panel ">
                <div class="panel panel-default component">
                    <div class="panel-body">
                        <a href="/moederborden/"><img class="center-block col-md-12" src='{% static "img/motherboard.png" %}'></a>
                    </div>
                    <div class="panel-footer ">
                        <h4 class="text-center">Moederbord</h4>
                    </div>

                </div>


            </div>

            <div class="compile-panel ">
                <div class="panel panel-default component">
                    <div class="panel-body">
                        <a href="/gpu/"><img class="center-block col-md-12" src='{% static "img/gpu.png" %}'></a>
                    </div>
                    <div class="panel-footer ">
                        <h4 class="text-center">Grafische kaart</h4>
                    </div>
                </div>


            </div>



            <div class="compile-panel ">
                <div class="panel panel-default component">
                    <div class="panel-body">
                        <a href="/hardeschijven/"><img class="center-block col-md-12" src='{% static "img/harddrive.png" %}'></a>
                    </div>
                    <div class="panel-footer ">
                        <h4 class="text-center">Harde schijf</h4>
                    </div>
                </div>


            </div>

            <div class="compile-panel ">
                <div class="panel panel-default component">
                    <div class="panel-body">
                        <a href="/optischeschijven/"><img class="center-block col-md-12" src='{% static "img/opticaldrive.png" %}'></a>
                    </div>
                    <div class="panel-footer ">
                        <h4 class="text-center">Optische drives</h4>
                    </div>
                </div>


            </div>

            <div class="compile-panel ">
                <div class="panel panel-default component">
                    <div class="panel-body">
                        <a href="/koelingen/"><img class="center-block col-md-12" src='{% static "img/cooler.png" %}'></a>
                    </div>
                    <div class="panel-footer ">
                        <h4 class="text-center">Koeling</h4>
                    </div>
                </div>


            </div>

            <div class="compile-panel ">
                <div class="panel panel-default component">
                    <div class="panel-body">
                        <a href="/geheugen/"><img class="center-block col-md-12" src='{% static "img/ram.png" %}'></a>
                    </div>
                    <div class="panel-footer ">
                        <h4 class="text-center">Geheugen</h4>
                    </div>
                </div>


            </div>

            <div class="compile-panel ">
                <div class="panel panel-default component">
                    <div class="panel-body">
                        <a href="/voedingen/"><img class="center-block col-md-12" src='{% static "img/powersupply.png" %}'></a>
                    </div>
                    <div class="panel-footer ">
                        <h4 class="text-center">Voeding</h4>
                    </div>
                </div>


            </div>

            <div class="compile-panel ">
                <div class="panel panel-default component">
                    <div class="panel-body">
                        <a href="/voedingen/"><img id="speciale-img" class="center-block col-md-12" src='{% static "img/case.png" %}'></a>
                    </div>
                    <div class="panel-footer ">
                        <h4 class="text-center">Behuizing</h4>
                    </div>
                </div>


            </div>

            <a href="javascript:void(0)" class="btn btn-primary btn-raised pull-right">stel samen</a>
        </div>
        
    </div>
</div>