{% extends "base.html" %}
{% load static %}
{% block content %}
<form class="form-horizontal">
    <fieldset>

        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Naam</label>
            <div class="col-lg-10">
                <input class="form-control" id="inputName" placeholder="Naam" type="name">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input class="form-control" id="inputEmail" placeholder="Email" type="email">
            </div>
        </div>
        <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Tekst</label>
            <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="textArea"></textarea>
                
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Type bericht</label>
            <div class="col-lg-10">
                <div class="radio radio-primary">
                    <label>
                        <input name="optionsRadios" id="optionsRadios1" value="option1" checked="" type="radio">
                        Klacht
                    </label>
                </div>
                <div class="radio radio-primary">
                    <label>
                        <input name="optionsRadios" id="optionsRadios2" value="option2" type="radio">
                        Opmerking
                    </label>
                </div>
                <div class="radio radio-primary">
                    <label>
                        <input name="optionsRadios" id="optionsRadios2" value="option2" type="radio">
                        Suggestie
                    </label>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
            </div>
        </div>
    </fieldset>
</form>

    <script type="text/javascript">

        $(document).ready(function() {
            $("#button").click(function(){
                $.ajax({
                    type : "POST",
                    url : "/contact/",
                    data : {
                        msg : 'abcd',
                        csrfmiddlewaretoken: getCookie('csrftoken')
                    },
                }).done(function(data){
                    alert(data.message);
                });
            });
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


    </script>

    <input id="button" type="button" value="Get message from server!">
    {% if resource_list %}
        <ul>
            {% for resource in resource_list %}
                <li><a href="{{ resource.url }}">{{ resource.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No Resources</p>
    {% endif %}

    <h3>{{ message }}</h3>

{% endblock %}