{% extends "base.html" %}
{% load static %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href='{% static "css/demo.css" %}'/>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

{% endblock %}
{% block content %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>

<script type="text/javascript">

$(function() {//1
    $('#graph').highcharts({//2
        chart: {//3
            type: 'pie',
            options3d: {//4
                enabled: true,
                alpha: 45,
                beta: 0
            }//3
        },//2
        title: {//3
            text: 'Aantal views per categorie'
        },//2
        tooltip: {//3
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },//2
        plotOptions: {//3
            pie: {//4
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {//5
                    enabled: true,
                    format: '{point.name}'
                }//4
            }//3
        },//2
        series: [{//3
            type: 'pie',
            name: 'Browser share',
            data: [
                ['Processoren',   {{ Processorenpercentage }}],
                ['Moederborden',       {{ Moederbordenpercentage }}],
                ['Grafische kaarten', {{ Grafischepercentage }}],
                ['Harde schijven',    {{ Hardepercentage }}],
                ['Optische drives',     {{ Dvdpercentage }}],
                ['Koelingen',   {{ Koelingpercentage }}],
                ['Geheugen',    {{ Geheugenpercentage }}],
                ['Voeding',     {{ Voedingpercentage }}],
                ['Behuizing',   {{ Behuizingenpercentage }}]
            ]
        }]//2
    });//1
});//0





$(function () {
    $('#columngraph').highcharts({
        chart: {
            zoomType: 'x'
        },
        title: {
            text: 'Het aantal views op de detailpagina\'s per dag'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                    'Klik en sleep in de grafiek om in te zoomen' :
                    'Schuif de grafiek om in te zoomen'
        },
        xAxis: {
            type: 'datetime',
            minRange: 14 * 24 * 3600000 // fourteen days
        },
        yAxis: {
            title: {
                text: 'Aantal views'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: 'Aantal views',
            pointInterval: 24 * 3600 * 1000,
            pointStart: Date.UTC(2014, 11, 2),
            data: 
                {{ ViewsPerDatum2 }}
            
        }]
    });
});
</script>

<script>
$(document).ready(function(){
  $(".toggle").click(function(){
  var parent = $(this).parent();
  var child = parent.children(".body-toggled");
    $(child).slideToggle(100);
  var pull = $(this).children(".pull-right ");
  var switcher = $(pull).children(".switcher ");
  $(switcher).toggleClass("dropup");
  });
});

function changerights(email){
    rechtenNummer = prompt("Welke rechten (0-1) wilt u toekennen? 0 is gebruiker en 1 is eigenaar", "")
    if(rechtenNummer == '0' || rechtenNummer == '1'){
        location.href = "/wijzigRechten/?rechten="+rechtenNummer+"&amp;email="+email;
    } else {
        alert("Je kunt alleen 0 of 1 invullen!")
    }
}
</script>




{% if request.session.Rechten %}
    {% if request.session.Rechten >= '1' %}
	<div class='container'>
		<div class="col-md-8 col-lg-11" id="productList" id="productList2">
			<div class="panel panel-primary top-margin  ">
                    <div class="panel panel-default">
                        <div class="panel-heading toggle"> Top 10 meest bekeken producten {{ request.session.Rechten }}{{ request.session.email }} <div class="pull-right"><span class="switcher dropup"><span class="caret"></span></span> </div></div>
                        <div class="panel-body body-toggled" style="display:none;">
				            <div class=" top-margin ">
					




                    			{% for component in Componenten %}
                                <div class="list-group table-border">
                                    <div class="list-group-item">
                                        <div id="{{component.ean.0}}" class="row-picture">
                                            <img class="square" src="{{ component.Afbeelding.0 }}" alt="icon">
                                        </div>

                                        <div class="row-content">
                                            <div class="col-md-10 col-lg-10">
                                                <h4 class="list-group-item-heading">{% if component.naam %}{% for name in component.naam %}{{ name }}{% endfor %}{% elif component.Product %}{% for name in component.Product %}{{ name }}{% endfor %}{% elif component.Uitvoering %}{% for name in component.Uitvoering %} {{ name }} {% endfor %}{% elif component.naam %} {% for name in component.naam %} {{ naam }} {% endfor %}{% endif %}</h4>
                                                <p class="list-group-item-text">{% for desc in component.info %} {{ desc }} {% endfor %} </p>
                                                <p class="list-group-item-text">Categorie: {{ component.categorie }}</p>
                                            </div>
                                            <div class=" col-md-2 col-lg-2  ">
                                                <p class="list-group-item-text pull-right prijs">{{ component.prijs.0 }}  </p>

                                                <p class="list-group-item-text  ">{{ component.stock.0 }}</p>



                                                <a onclick="{{ views.Viewers }}" href="/detail/?product={% for name in component.naam %}{{ name }} {% endfor %}&amp;categorie={{component.categorie|truncatewords:1 }}&amp;prijs={{ component.prijs.0|slice:'-1' }}&amp;productid={{component.id}}" class="btn btn-primary">details</a>


                                                

                                            </div>
                                        </div>

                                    </div>



                                </div>
                                {% endfor %}








                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>



    <script src='{% static "js/highcharts.js" %}'></script>
    <script src='{% static "js/highcharts-3d.js" %}'></script>
    <script src='{% static "js/modules/exporting.js" %}'></script>
    <div class='container'>
        <div class="col-md-8 col-lg-11" id="productList" id="productList2">
            <div class="panel panel-primary top-margin  ">
                    <div class="panel panel-default">
                        <div class="panel-heading toggle"> Aantal views per categorie  <div class="pull-right"><span class="switcher"><span class="caret"></span></span> </div></div>
                        <div class="panel-body body-toggled">
                            <div class=" top-margin ">
                            <div id="graph"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='container'>
        <div class="col-md-8 col-lg-11" id="productList" id="productList2">
            <div class="panel panel-primary top-margin  ">
                    <div class="panel panel-default">
                        <div class="panel-heading toggle"> Aantal views per categorie  <div class="pull-right"><span class="switcher"><span class="caret"></span></span> </div></div>
                        <div class="panel-body body-toggled">
                            <div class=" top-margin ">
                            <div id="columngraph"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    





    <div class='container'>
        <div class="col-md-10 col-lg-5" id="productList" id="productList2">
            <div class="panel panel-primary top-margin  ">
                    <div class="panel panel-default">
                        <div class="panel-heading toggle"> Populairste zoekwoorden  <div class="pull-right"><span class="switcher dropup"><span class="caret"></span></span> </div></div>
                        <div class="panel-body body-toggled" style="display:none;">
                            <div class="list-group table-border">
                                <div class="list-group-item">

                                    <div class="row-content">
                                        <div class="col-md-10 col-lg-10">
                                            <h3 class="list-group-item-text pull-left">Zoekwoord</h3>
                                            
                                            <h3 class="list-group-item-text pull-right">Aantal </h3>


                                            

                                        </div>
                                    </div>

                                </div>



                            </div>  
                            <div id="productList" id="productList2" style="height:200px; overflow-y:scroll; display:block; margin-bottom: 20px;">     




                            {% for search in Search %}
                            <div class="list-group table-border">
                                <div class="list-group-item">

                                    <div class="row-content">
                                        <div class="col-md-10 col-lg-10">
                                            <p class="list-group-item-text pull-left">{{ search.Zoekwoord }}</p>
                                            
                                            <p class="list-group-item-text pull-right">{{ search.Aantal }}  </p>


                                            

                                        </div>
                                    </div>

                                </div>



                            </div>
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class='container'>
        <div class="col-md-10 col-lg-6" id="productList" id="productList2">
            <div class="panel panel-primary top-margin  ">
                    <div class="panel panel-default">
                        <div class="panel-heading toggle"> gebruikers  <div class="pull-right"><span class="switcher dropup"><span class="caret"></span></span> </div></div>
                        <div class="panel-body body-toggled" style="display:none;">
                            <div class="list-group table-border">
                                <div class="list-group-item">
                                    <h4 class="list-group-item-text pull-left">Email</h4>
                                    <h4 class="list-group-item-text text-center">Rechten </h4>
                                </div>
                            </div>  
                            <div id="productList" id="productList2" style="height:200px; overflow-y:scroll; display:block; margin-bottom: 20px;">     




                            {% for user in Userlist %}
                            <div class="list-group table-border">
                                <div class="list-group-item">

                                    <table class="row-content">
                                            <p class="list-group-item-text pull-left">{{ user.Email }}</p>
                                            
                                            <p class="list-group-item-text text-center">{{ user.Rechten }}  </p>
                                            <p class="list-group-item-text pull-right"><a onclick="changerights('{{ user.Email }}')" class="btn btn-primary">Wijzig rechten</a>  </p>
                                    </table>

                                </div>



                            </div>
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}

    {% endif %}
{% endif %}

{% endblock %}