{% extends "base.html" %}
{% load static %}
{% block content %}
{% load filters %}
<div class="container top-margin">
                <div class="col-md-12 col-lg-12">
                    <img src="#" id="itemImage" class="col-lg-3">
                    <div class="panel panel-default col-lg-9">
                        <div class="panel-body">
                        <h1>{{ Product }}</h1>
                        </div>
                    </div>
                </div>

                <!-- checken of je bij het juiste product bent voor de selecteer knop -->
                


                

</div>

<div class="Container">

    <div class="col-lg-12">
        <table class="table table-striped table-hover ">
 <thead>
            <tr>
                
                <th>naam</th>
                <th>waarde</th>
          
            </tr>
            </thead>
            <tbody>
{% for component in Componenten %}
{%for product in component%}
    {% with goodID=Productid compareID=product.id  %}         
        {%if goodID|stringformat:"s" == compareID|stringformat:"s" %}
            {%for item in product%}
            {% with itemnumb=product|get_at_index:item %}  
             <tr>
                {% if itemnumb.0 != None%}
                <td>{{item}}</td>
                 <td>
                     
                     {% if item == "Afbeelding" %}
                         {% if itemnumb.0 == null %}
                             <script>
                                 $(document).ready(function(){
                                     $('#itemImage').attr('src','http://azerty.nl/_azerty/data/product/6/5/3/653558/img/1/K.jpg');
                                 });
                             </script>
                         {% else %}
                             {% with itemnumb.0 as Afbeelding %}
                                 <script>
                                     $(document).ready(function(){
                                         $('#itemImage').attr('src','{{ Afbeelding }}');
                                     });
                                 </script>
                             {% endwith %}
                         {% endif %}
                     {% endif %}
                {%if itemnumb.0 > 0 and item != "categorie"%}             
                    {{itemnumb.0}}

                    {%else%}
                    {{itemnumb}}
                   {% endif %} 
                 </td>
                 {% endif %}
            </tr>
           {% endwith %}
                    {%endfor%}  
           
           
           
            </tbody>
{% endif %} 
{% endwith %}
{% endfor %}
{% endfor %}
        </table>



        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Webwinkel</th>
                    <th>Prijs</th>
                    <th>Levering</th>
                </tr>
            </thead>
            <tbody>
                {% for component in Componenten %}
                {% for product in component %}
                    {% with goodID=Productid compareID=product.id  %}         
                        {%if goodID|stringformat:"s" == compareID|stringformat:"s" %}
                        {% for herkomst, stock, link, prijs in Ziplist %}
                            <tr>
                                <td><a href="{{ product.link }}">{{ herkomst}}</a></td>
                                <td>{{ prijs}}</td>
                                <td>{{ stock}}</td>

                                <td>{% if Currentproduct == Product and Currentherkomst = herkomst%}
                                    <a class="btn btn-primary pull-right" href="/deselect/?product={{ Product }}&amp;categorie={{ Categorie }}" data-content="This is a snackbar! Lorem lipsum dolor sit amet..." data-toggle="snackbar" data-timeout="0">Deselecteer</a>

                                    {% else %}
                                    <a class="btn btn-primary pull-right selectproduct"  href="/select/?product={{ Product }}&amp;categorie={{ Categorie }}&amp;prijs={{ Prijs }}&amp;productid={{ Productid }}&amp;herkomst={{ herkomst }}&amp;link={{ product.link }}" data-content="This is a snackbar! Lorem lipsum dolor sit amet..." data-toggle="snackbar" data-timeout="0">Selecteer</a></td>
                                    {% endif %}
                            <tr>
                        {% endfor %} 
                {% endif %}
                {% endwith %}
                {% endfor %}
                {% endfor %}
            </tbody>


    </div>
</div>

{% endblock %}q
