{% extends "base.html" %}
{% load static %}
{% block content %}
{% load filters %}
<div class="container top-margin">
                <div class="col-md-12 col-lg-12">
                    <img src="" id="itemImage" class="col-lg-3">
                    <div class="panel panel-default col-lg-9">
                        <div class="panel-body">
                        <h1>{{ component.naam.0 }}</h1>
                        </div>
                    </div>
                </div>

                <!-- checken of je bij het juiste product bent voor de selecteer knop -->
                

<script>
$(document).ready(function(){
var ean = {{component.ean.0}};

ean = ean.toString()
start = ean.substr(0, 1);

if (start != "0") {
    ean = "0" + ean
}

var iURL = "http://ajax.googleapis.com/ajax/services/search/images?v=1.0&q=" + ean;
console.log(iURL)

$.ajax({
    url: iURL,
    dataType: "jsonp",
    success: function(data) {
        var imgURL = data.responseData.results[0].unescapedUrl
        var img = $('#itemImage').attr("src", imgURL);
    }
});
});
</script>
                

</div>

<div class="Container">

    <div class="col-lg-12">
        <table class="table table-striped table-hover ">
 <thead>
            <tr>
                
                <th>naam</th>
                <th>waarde</th>
          
            </tr>
            </thead>
            <tbody>

            {%for item in component%}
            {% with itemnumb=component|get_at_index:item %}  
             <tr>
                {% if itemnumb.0 != None%}
                <td>{{item}}</td>

                 <td>
                {%if itemnumb.0 > 0 and item != "categorie"%}             
                    {% for item in itemnumb %}
                        {{ item }}
                    {% endfor %}
                   {% endif %} 
                 </td>
                 {% endif %}
            </tr>
           {% endwith %}
                    {%endfor%}  
           
           
           
            </tbody>
        </table>



        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Webwinkel</th>
                    <th>Prijs</th>
                    <th>Levering</th>
                </tr>
            </thead>
            <tbody>

                        {% for herkomst, stock, link, prijs in Ziplist %}
                            <tr>
                                <td><a href="{{ link }}">{{ herkomst}}</a></td>
                                <td>{{ prijs}}</td>
                                <td>{{ stock}}</td>


                                <td>{% if CurrentID == Productid and Currentherkomst = herkomst%}
                                    <a class="btn btn-primary pull-right" href="/deselect/?product={{ component.naam.0 }}&amp;categorie={{ component.categorie }}&amp;productid={{ Productid }}" data-content="This is a snackbar! Lorem lipsum dolor sit amet..." data-toggle="snackbar" data-timeout="0">Deselecteer</a>

                                    {% else %}
                                    <a class="btn btn-primary pull-right selectproduct"  href="/select/?product={{ component.naam.0 }}&amp;categorie={{ component.categorie }}&amp;prijs={{ prijs }}&amp;productid={{ Productid }}&amp;herkomst={{ herkomst }}&amp;link={{ link }}" data-content="This is a snackbar! Lorem lipsum dolor sit amet..." data-toggle="snackbar" data-timeout="0">Selecteer</a></td>
                                    {% endif %}
                            </tr>
                        {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}
