{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container top-margin">
                <div class="col-md-12 col-lg-12">
                    <img src="#" class="col-lg-4">
                    <div class="panel panel-default col-lg-8">
                        <div class="panel-body">
                        <h1>{{ Product }}</h1>
                        </div>
                    </div>
                </div>
                <a href="/deselect/?product={{ Product }}&amp;categorie={{ Categorie }}">Deselecteer</a>
                <a href="/select/?product={{ Product }}&amp;categorie={{ Categorie }}">Selecteer</a>

</div>

{% endblock %}