{% extends "base.html" %}
{% load static %}
{% block content %}
<h1> Disclaimer </h1>
<p> Het onderstaande is van toepassing op de gehele site. Door de site te gebruiken stemt u in met deze disclaimer<p>
<h3> Prijzen </h3>
<p> Doordat wij van verschillende bronnen informatie ophalen kan het voorkomen dat onze informatie niet overeenkomt met die op de desbetreffende site. Het zal niet langer dan een dag duren voordat de website weer up to date is met de desbetreffende bron. </p>

<h3> Foutieve informatie </h3>
<p> Zoals hierboven vermeld maken wij gebruik van informatie van derden. Wij zijn niet aansprakelijk voor foutieve informatie afkomstig van deze bronnen. </p>
<br>
<p>Dit is slechts een project voor school en is dus niet bedoeld voor commercieel gebruik.</p>
{% endblock %}