{% block filter %}



<div class="col-md-4 col-lg-3 ">

    <div class="panel panel-primary top-margin  ">
        <div class="panel-heading">
            <h3 class="panel-title">Filter</h3>
        </div>

        <div class="panel-body">

            <div class="panel panel-default">
                <div class="panel-heading toggle">Levertijd   <div class="pull-right"><span class="switcher dropup"><span class="caret"></span></span> </div></div>
                <div class="panel-body body-toggled">
                    <div class="checkbox customcheck">
                        <label>
                            <!--Checbox value on click via ajax naar views -->
                                <input type="checkbox" value="false" id="direct" onclick="checkboxValue({{ page }}, this.id)"> Direct leveraar                              
                        </label>

                    </div>
                    <div class="checkbox customcheck">
                        <label>
                            <input type="checkbox" value="false" id="binnen-week" onclick="checkboxValue({{ page }}, this.id)"> Binnen één week 
                        </label>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading toggle">Prijs  <div class="pull-right"><span class="switcher dropup"><span class="caret"></span></span> </div></div>
                <div class="panel-body body-toggled">
                    <div class="slider" onChange="filter({{ page }})"></div>
                    <input id ="sliderMinValue" onChange="filter({{ page }})" class="col-md-6 col-lg-6 ">
                    <input id ="sliderMaxValue" onChange="filter({{ page }})" class="col-md-6 col-lg-6 pull-right ">
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading toggle">Merk  <div class="pull-right"><span class="switcher dropup"><span class="caret"></span></span> </div></div>
                <div class="panel-body body-toggled">

                    {% for merk in merken %}
                        <div class="checkbox customcheck">
                            <label>
                                <input class="merk" type="checkbox" onclick="filter({{ page }})" value="{{ merk }}"> {{ merk }}
                            </label>
                        </div>                       
                    {% endfor %}

                </div>
            </div>




        </div>
    </div>




</div>

{% endblock %}