{% extends "base.html" %}
{% load static %}
{% block content %}

<script>


$(document).ready(function(){
  $(".toggle").click(function(){
  var parent = $(this).parent();
  var child = parent.children(".body-toggled");
    $(child).slideToggle(100);
  var pull = $(this).children(".pull-right ");
  var switcher = $(pull).children(".switcher ");
  $(switcher).toggleClass("dropup");
  });

    $(".slider").noUiSlider({
	start: [20, 80],
	connect: true,
	range: {
		'min': 0,
		'max': 100
	}



});

});


</script>



<div class="container">


    {% include "filter.html" %}

    <div class="col-md-8 col-lg-9" id="productList">

        <!-- Gives layout to the price -->
        <script type="text/javascript" src="{% static 'js/prijs.js' %}"></script>

        <div class=" top-margin ">
            <h1>{{Componenten.categorie.0|truncatewords:2|slice:"-4" }}</h1>
            {% for component in Componenten %}
            <div class="list-group table-border">
                <div class="list-group-item">
                    <div class="row-picture">
                        <img class="square" src="http://lorempixel.com/56/56/people/1" alt="icon">
                    </div>

                    <div class="row-content">
                        <div class="col-md-10 col-lg-10">
                            <h4 class="list-group-item-heading">{% for name in component.naam %}{{ name }}{% endfor %}</h4>
                            <p class="list-group-item-text">{% for desc in component.info %} {{ desc }} {% endfor %} </p>
                        </div>
                        <div class=" col-md-2 col-lg-2  ">
                            <p class="list-group-item-text pull-right prijs">{{ component.prijs.0 }}</p>
                            <p class="list-group-item-text  ">{{ component.stock.0 }}</p>

                            <a href="/detail/?product={% for name in component.naam %}{{ name }} {% endfor %}&amp;categorie={{component.categorie|truncatewords:1 }}&amp;prijs={{ component.prijs.0|slice:'-1' }}&amp;productid={{component.id}}" class="btn btn-primary">details</a>
                        </div>
                    </div>

                </div>



            </div>
            {% endfor %}

        </div>

        {% include "page_snippet.html" %}

    </div>


</div>



{% endblock %}