    {% extends "base.html" %}
{% load static %}
{% block scripts %}
<script>
$(document).ready(function() {

$('.component').css('display', 'none');

$('.component').fadeIn(1000);



$('.link').click(function() {

event.preventDefault();

newLocation = this.href;

$('.component').fadeOut(1000, newpage);

});

function newpage() {

window.location = newLocation;

}

});
</script>
    <script src="{% static 'js/ScrollBar.js' %}"></script>


{% endblock %}
{% block overlay %}
<!--<div class="overlay">
    <a href="javascript:deloverlay()" class="btn btn-primary">Begin met bouwen!</a>
</div> -->
{% endblock %}
{% block slider %}

 {% endblock %}


{% block content %}
   




<div class="btn-group btn-group-justified">
    <a href="javascript:void(0)" class="btn btn-default">Zelf samenstellen</a>
    <a href="javascript:void(0)" class="btn btn-default">Vooraf samengesteld</a>
</div>

    <script>
    $( document ).ready(function() {
        loadProgress();
    });

    function loadProgress(){
        var percentage = 0;
        var progress = document.getElementById("progress-bar");
        {% if request.session.processoren == True %}
            percentage += 11;
        {% endif %}
        {% if request.session.moederborden == True %}
            percentage += 11;
        {% endif %}
        {% if request.session.grafische == True %}
            percentage += 11;
        {% endif %}
        {% if request.session.harde == True %}
            percentage += 11;
        {% endif %}
        {% if request.session.DVD == True %}
            percentage += 11;
        {% endif %}
        {% if request.session.koeling == True %}
            percentage += 11;
        {% endif %}
        {% if request.session.geheugen == True %}
            percentage += 11;
        {% endif %}
        {% if request.session.voeding == True %}
            percentage += 11;
        {% endif %}
        {% if request.session.behuizingen == True %}
            percentage += 11;
        {% endif %}
    if(percentage == 99){
        percentage = 100;
    }

        progress.innerHTML = percentage+'%';
        $(".progress-bar-striped").width(''+percentage+"%");
        $(".progress-bar").width(''+percentage+'%');


    }
    </script>

    <div class="progress">
        <div class="progress-bar progress-bar-striped active block-center text-center" id="progress-bar" role="progressbar" style='width: 100%;'>
                5%
        </div>
    </div>


<div class="col-md-12 shadow bottom-margin">
    <div class="row top-margin2">
        <div class="col-md-4 ">
            <div class="panel panel-default component">
                <div class="panel-body">
                    <a href="/processoren/"><img class="center-block" src='{% static "img/cpu.png" %}'></a>
                    {% if request.session.processoren = True %}
                    <img class="cover" src='{% static "img/succes.png" %}' />
                    {% endif %}
                </div>
                <div class="panel-footer ">
                    <h4 class="text-center"><a href="/processoren/">processor</a></h4>
                </div>
            </div>


        </div>

        <div class="col-md-4 ">
            <div class="panel panel-default component">
                <div class="panel-body">
                    <a href="/moederborden/"><img class="center-block" src='{% static "img/motherboard.png" %}'></a>
                    {% if request.session.moederborden = True %}
                    <img class="cover" src='{% static "img/succes.png" %}' />
                    {% endif %}
                </div>
                <div class="panel-footer ">
                    <h4 class="text-center"><a href="/moederborden/">moederbord</a> </h4>
                </div>

            </div>


        </div>

        <div class="col-md-4 ">
            <div class="panel panel-default component">
                <div class="panel-body">
                    <a href="/gpu/"><img class="center-block" src='{% static "img/gpu.png" %}'></a>
                    {% if request.session.grafische = True %}
                    <img class="cover" src='{% static "img/succes.png" %}' />
                    {% endif %}
                </div>
                <div class="panel-footer ">
                    <h4 class="text-center"><a href="/gpu/">grafische kaart</a> </h4>
                </div>
            </div>


        </div>


    </div>



    <div class="row">
        <div class="col-md-4 ">
            <div class="panel panel-default component">
                <div class="panel-body">
                    <a href="/hardeschijven/"><img class="center-block" src='{% static "img/harddrive.png" %}'></a>
                    {% if request.session.harde = True %}
                    <img class="cover" src='{% static "img/succes.png" %}' />
                    {% endif %}
                </div>
                <div class="panel-footer ">
                    <h4 class="text-center"><a href="/hardeschijven/">harde schijf </a></h4>
                </div>
            </div>


        </div>

        <div class="col-md-4 ">
            <div class="panel panel-default component">
                <div class="panel-body">
                    <a href="/optischeschijven/"><img class="center-block" src='{% static "img/opticaldrive.png" %}'></a>
                    {% if request.session.DVD = True %}
                    <img class="cover" src='{% static "img/succes.png" %}' />
                    {% endif %}
                </div>
                <div class="panel-footer ">
                    <h4 class="text-center"><a href="/optischeschijven/">optische drives </a></h4>
                </div>
            </div>


        </div>

        <div class="col-md-4 ">
            <div class="panel panel-default component">
                <div class="panel-body">
                    <a href="/koelingen/"><img class="center-block" src='{% static "img/cooler.png" %}'></a>
                    {% if request.session.koeling = True %}
                    <img class="cover" src='{% static "img/succes.png" %}' />
                    {% endif %}
                </div>
                <div class="panel-footer ">
                    <h4 class="text-center"><a href="/koelingen/">koeling </a></h4>
                </div>
            </div>


        </div>




    </div>

    <div class="row">
        <div class="col-md-4 ">
            <div class="panel panel-default component">
                <div class="panel-body">
                    <a href="/geheugen/"><img class="center-block" src='{% static "img/ram.png" %}'></a>
                    {% if request.session.geheugen = True %}
                    <img class="cover" src='{% static "img/succes.png" %}' />
                    {% endif %}
                </div>
                <div class="panel-footer ">
                    <h4 class="text-center"><a href="/geheugen/">geheugen </a></h4>
                </div>
            </div>


        </div>

        <div class="col-md-4 ">
            <div class="panel panel-default component">
                <div class="panel-body">
                    <a href="/voedingen/"><img class="center-block" src='{% static "img/powersupply.png" %}'></a>
                    {% if request.session.voeding = True %}
                    <img class="cover" src='{% static "img/succes.png" %}' />
                    {% endif %}
                </div>
                <div class="panel-footer ">
                    <h4 class="text-center"><a href="/voedingen/">voeding </a></h4>
                </div>
            </div>


        </div>

        <div class="col-md-4 ">
            <div class="panel panel-default component">
                <div class="panel-body">
                    <a href="/behuizingen/"><img class="center-block" src='{% static "img/case.png" %}'></a>
                    {% if request.session.behuizingen = True %}
                    <img class="cover" src='{% static "img/succes.png" %}' />
                    {% endif %}
                </div>
                <div class="panel-footer ">
                    <h4 class="text-center"><a href="/behuizingen/">behuizing </a></h4>
                </div>
            </div>


        </div>



    </div>
</div>

<div class="container top-margin ">
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th>Component</th>
            <th>Product</th>
            <th>Prijs</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr {% if request.session.processoren == True %} class="info" {% endif %} >
            <td>1</td>
            <td>Processor</td>
            <td><a href="/detail/?product={{ request.session.processorennaam }}&amp;categorie=processoren&amp;prijs={{ request.session.processorenprijs }}&amp;productid={{ request.session.processorenid }}">{{ request.session.processorennaam }}</a></td>
            <td>{{ request.session.processorenprijs }}</td>
            <td>{% if request.session.processoren == True %}<a href="/deselect/?product={{ request.session.processorennaam }}&amp;categorie=processoren&amp;prijs={{ request.session.processorenprijs }}" data-content="This is a snackbar! Lorem lipsum dolor sit amet..." data-toggle="snackbar" data-timeout="0"><img src="./static/img/action/svg/ic_highlight_remove_24px.svg" /></a>
            {% else  %} <a href="/processoren/"><img src="./static/img/action/svg/ic_add_shopping_cart_24px.svg" /></a> {% endif %}</td>
        </tr>
        <tr {% if request.session.moederborden == True %} class="info" {% endif %} >
            <td>2</td>
            <td>Moederbord</td>
            <td><a href="/detail/?product={{ request.session.moederbordennaam }}&amp;categorie=moederborden&amp;prijs={{ request.session.moederbordenprijs }}&amp;productid={{ request.session.moederbordenid }}">{{ request.session.moederbordennaam }}</a></td>
            <td>{{ request.session.moederbordenprijs }}</td>
            <td>{% if request.session.moederborden == True %}<a href="/deselect/?product={{ request.session.moederbordennaam }}&amp;categorie=moederborden&amp;prijs={{ request.session.moederbordenprijs }}" data-content="This is a snackbar! Lorem lipsum dolor sit amet..." data-toggle="snackbar" data-timeout="0"><img src="./static/img/action/svg/ic_highlight_remove_24px.svg" /></a>
            {% else  %} <a href="/moederborden/"><img src="./static/img/action/svg/ic_add_shopping_cart_24px.svg" /></a> {% endif %}</td>
        </tr>
        <tr {% if request.session.grafische == True %} class="info" {% endif %} >
            <td>3</td>
            <td>Grafische Kaart</td>
            <td><a href="/detail/?product={{ request.session.grafischenaam }}&amp;categorie=grafische&amp;prijs={{ request.session.grafischeprijs }}&amp;productid={{ request.session.grafischeid }}">{{ request.session.grafischenaam }}</a></td>
            <td>{{ request.session.grafischeprijs }}</td>
            <td>{% if request.session.grafische == True %}<a href="/deselect/?product={{ request.session.grafischenaam }}&amp;categorie=grafische&amp;prijs={{ request.session.grafischeprijs }}" data-content="This is a snackbar! Lorem lipsum dolor sit amet..." data-toggle="snackbar" data-timeout="0"><img src="./static/img/action/svg/ic_highlight_remove_24px.svg" /></a>
            {% else  %} <a href="/gpu/"><img src="./static/img/action/svg/ic_add_shopping_cart_24px.svg" /></a> {% endif %}</td>
        </tr>
        <tr {% if request.session.harde == True %} class="info" {% endif %} >
            <td>4</td>
            <td>Harde Schijf</td>
            <td><a href="/detail/?product={{ request.session.Hardenaam }}&amp;categorie=harde&amp;prijs={{ request.session.hardeprijs }}&amp;productid={{ request.session.hardeid }}">{{ request.session.hardenaam }}</a></td>
            <td>{{ request.session.hardeprijs }}</td>
            <td>{% if request.session.harde == True %}<a href="/deselect/?product={{ request.session.hardenaam }}&amp;categorie=harde&amp;prijs={{ request.session.hardeprijs }}" data-content="This is a snackbar! Lorem lipsum dolor sit amet..." data-toggle="snackbar" data-timeout="0"><img src="./static/img/action/svg/ic_highlight_remove_24px.svg" /></a>
            {% else  %} <a href="/hardeschijven/"><img src="./static/img/action/svg/ic_add_shopping_cart_24px.svg" /></a> {% endif %}</td>
        </tr>
        <tr {% if request.session.DVD == True %} class="info" {% endif %} >
            <td>5</td>
            <td>Optische Drive</td>
            <td><a href="/detail/?product={{ request.session.dvdnaam }}&amp;categorie=dvd&amp;prijs={{ request.session.dvdprijs }}&amp;productid={{ request.session.dvdid }}">{{ request.session.dvdnaam }}</a></td>
            <td>{{ request.session.dvdprijs }}</td>
            <td>{% if request.session.dvd == True %}<a href="/deselect/?product={{ request.session.dvdnaam }}&amp;categorie=dvd&amp;prijs={{ request.session.dvdprijs }}" data-content="This is a snackbar! Lorem lipsum dolor sit amet..." data-toggle="snackbar" data-timeout="0"><img src="./static/img/action/svg/ic_highlight_remove_24px.svg" /></a>
            {% else  %} <a href="/optischeschijven/"><img src="./static/img/action/svg/ic_add_shopping_cart_24px.svg" /></a> {% endif %}</td>
        </tr>
        <tr {% if request.session.koeling == True %} class="info" {% endif %} >
            <td>6</td>
            <td>Koeling</td>
            <td><a href="/detail/?product={{ request.session.koelingnaam }}&amp;categorie=koeling&amp;prijs={{ request.session.koelingprijs }}&amp;productid={{ request.session.koelingid }}">{{ request.session.koelingnaam }}</a></td>
            <td>{{ request.session.koelingprijs }}</td>
            <td>{% if request.session.koeling == True %}<a href="/deselect/?product={{ request.session.koelingnaam }}&amp;categorie=koeling&amp;prijs={{ request.session.koelingprijs }}" data-content="This is a snackbar! Lorem lipsum dolor sit amet..." data-toggle="snackbar" data-timeout="0"><img src="./static/img/action/svg/ic_highlight_remove_24px.svg" /></a>
            {% else  %} <a href="/koelingen/"><img src="./static/img/action/svg/ic_add_shopping_cart_24px.svg" /></a> {% endif %}</td>
        </tr>
        <tr {% if request.session.geheugen == True %} class="info" {% endif %} >
            <td>7</td>
            <td>Geheugen</td>
            <td><a href="/detail/?product={{ request.session.geheugennaam }}&amp;categorie=geheugen&amp;prijs={{ request.session.geheugenprijs }}&amp;productid={{ request.session.geheugenid }}">{{ request.session.geheugennaam }}</a></td>
            <td>{{ request.session.geheugenprijs }}</td>
            <td>{% if request.session.geheugen == True %}<a href="/deselect/?product={{ request.session.geheugennaam }}&amp;categorie=geheugen&amp;prijs={{ request.session.geheugenprijs }}" data-content="This is a snackbar! Lorem lipsum dolor sit amet..." data-toggle="snackbar" data-timeout="0"><img src="./static/img/action/svg/ic_highlight_remove_24px.svg" /></a>
            {% else  %} <a href="/geheugen/"><img src="./static/img/action/svg/ic_add_shopping_cart_24px.svg" /></a> {% endif %}</td>
        </tr>
        <tr {% if request.session.voeding == True %} class="info" {% endif %} >
            <td>8</td>
            <td>Voeding</td>
            <td><a href="/detail/?product={{ request.session.voedingnaam }}&amp;categorie=voeding&amp;prijs={{ request.session.voedingprijs }}&amp;productid={{ request.session.voedingid }}">{{ request.session.voedingnaam }}</a></td>
            <td>{{ request.session.voedingprijs }}</td>
            <td>{% if request.session.voeding == True %}<a href="/deselect/?product={{ request.session.voedingnaam }}&amp;categorie=voeding&amp;prijs={{ request.session.voedingprijs }}" data-content="This is a snackbar! Lorem lipsum dolor sit amet..." data-toggle="snackbar" data-timeout="0"><img src="./static/img/action/svg/ic_highlight_remove_24px.svg" /></a>
            {% else  %} <a href="/voedingen/"><img src="./static/img/action/svg/ic_add_shopping_cart_24px.svg" /></a> {% endif %}</td>
        </tr>
        <tr {% if request.session.behuizingen == True %} class="info" {% endif %} >
            <td>9</td>
            <td>Behuizing</td>
            <td><a href="/detail/?product={{ request.session.behuizingennaam }}&amp;categorie=behuizingen&amp;prijs={{ request.session.behuizingenprijs }}&amp;productid={{ request.session.behuizingenid }}">{{ request.session.behuizingennaam }}</a></td>
            <td>{{ request.session.behuizingenprijs }}</td>
            <td>{% if request.session.behuizingen == True %}<a href="/deselect/?product={{ request.session.behuizingennaam }}&amp;categorie=behuizingen&amp;prijs={{ request.session.behuizingenprijs }}" data-content="This is a snackbar! Lorem lipsum dolor sit amet..." data-toggle="snackbar" data-timeout="0"><img src="./static/img/action/svg/ic_highlight_remove_24px.svg" /></a>
            {% else  %} <a href="/behuizingen/"><img src="./static/img/action/svg/ic_add_shopping_cart_24px.svg" /></a> {% endif %}</td>
        </tr>

        </tbody>
    </table>
</div>

{% endblock %}
