{% extends "base.html" %}
{% load static %}
{% block scripts %}
<script>
$(document).ready(function() {

$('.component').css('display', 'none');

$('.component').fadeIn(1000);



$('.link').click(function() {

event.preventDefault();

newLocation = this.href;

$('.component').fadeOut(1000, newpage);

});

function newpage() {

window.location = newLocation;

}

});
</script>
{% endblock %}
{% block slider %}
  <div class="jumbotron">
      <div class="container">
        <h1>Bouw je eigen pc!</h1>
        <p>Geil he?</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
 {% endblock %}


{% block content %}
   




<div class="btn-group btn-group-justified">
    <a href="javascript:void(0)" class="btn btn-default">Zelf samenstellen</a>
    <a href="javascript:void(0)" class="btn btn-default">Vooraf samengesteld</a>
</div>
    
    <div class="progress">
        <div class="progress-bar progress-bar-striped active block-center text-center col-md-12" role="progressbar" style="width: 100%">
            60%
        </div>
    </div>
    


    <div class="row">
        <div class="col-md-4 ">
            <div class="panel panel-default component">
                <div class="panel-body">
                    <a href="/processoren/"><img class="center-block" src='{% static "img/cpu.png" %}'></a>
                </div>
                <div class="panel-footer ">
                    <h4 class="text-center"><a href="/processoren/">processor</a></h4>
                </div>
            </div>


        </div>

        <div class="col-md-4 ">
            <div class="panel panel-default component">
                <div class="panel-body">
                    <a href="/moederborden/"><img class="center-block" src='{% static "img/motherboard.png" %}'></a>
                    {% if request.session.Moederborden = True %}
                    <img class="cover" src='{% static "img/succes.png" %}' />
                    {% endif %}
                </div>
                <div class="panel-footer ">
                    <h4 class="text-center"><a href="/moederborden/">moederbord</a> </h4>
                </div>

            </div>


        </div>

        <div class="col-md-4 ">
            <div class="panel panel-default component">
                <div class="panel-body">
                    <a href="/gpu/"><img class="center-block" src='{% static "img/gpu.png" %}'></a>
                </div>
                <div class="panel-footer ">
                    <h4 class="text-center"><a href="/gpu/">grafische kaart</a> </h4>
                </div>
            </div>


        </div>


    </div>



    <div class="row">
        <div class="col-md-4 ">
            <div class="panel panel-default component">
                <div class="panel-body">
                    <a href="/hardeschijven/"><img class="center-block" src='{% static "img/harddrive.png" %}'></a>
                </div>
                <div class="panel-footer ">
                    <h4 class="text-center"><a href="/hardeschijven/">harde schijf </a></h4>
                </div>
            </div>


        </div>

        <div class="col-md-4 ">
            <div class="panel panel-default component">
                <div class="panel-body">
                    <a href="/optischeschijven/"><img class="center-block" src='{% static "img/opticaldrive.png" %}'></a>
                </div>
                <div class="panel-footer ">
                    <h4 class="text-center"><a href="/optischeschijven/">optische drives </a></h4>
                </div>
            </div>


        </div>

        <div class="col-md-4 ">
            <div class="panel panel-default component">
                <div class="panel-body">
                    <a href="/koelingen/"><img class="center-block" src='{% static "img/cooler.png" %}'></a>
                </div>
                <div class="panel-footer ">
                    <h4 class="text-center"><a href="/koelingen/">koeling </a></h4>
                </div>
            </div>


        </div>




    </div>

    <div class="row">
        <div class="col-md-4 ">
            <div class="panel panel-default component">
                <div class="panel-body">
                    <a href="/geheugen/"><img class="center-block" src='{% static "img/ram.png" %}'></a>
                </div>
                <div class="panel-footer ">
                    <h4 class="text-center"><a href="/geheugen/">geheugen </a></h4>
                </div>
            </div>


        </div>

        <div class="col-md-4 ">
            <div class="panel panel-default component">
                <div class="panel-body">
                    <a href="/voedingen/"><img class="center-block" src='{% static "img/powersupply.png" %}'></a>
                </div>
                <div class="panel-footer ">
                    <h4 class="text-center"><a href="/voedingen/">voeding </a></h4>
                </div>
            </div>


        </div>

        <div class="col-md-4 ">
            <div class="panel panel-default component">
                <div class="panel-body">
                    <a href="/behuizingen/"><img class="center-block" src='{% static "img/case.png" %}'></a>
                </div>
                <div class="panel-footer ">
                    <h4 class="text-center"><a href="/behuizingen/">behuizing </a></h4>
                </div>
            </div>


        </div>




    </div>

<div class="container top-margin">
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th>Component</th>
            <th>Product</th>
            <th>Prijs</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Processor</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Moederbord</td>
            <td>{{ request.session.Moederbordennaam }}</td>
            <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Grafische Kaart</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Harde Schijf</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>5</td>
            <td>Optische Drive</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>6</td>
            <td>Koeling</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>7</td>
            <td>Geheugen</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>8</td>
            <td>Voeding</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>9</td>
            <td>Behuizing</td>
            <td></td>
            <td></td>
        </tr>

        </tbody>
    </table>

</div>
{% endblock %}
