<ul class="pagination pull-right">
    {% load filters %}

    {% if Componenten.has_previous %}
        <li><a href="?pagina=1">«</a></li>
        <li><a href="?pagina={{ Componenten.previous_page_number }}">‹</a></li>
    {% else %}
        <li class="disabled"><a href="javascript:void(0);">«</a></li>
    {% endif %}

    {% for page in Componenten.paginator.page_range %}
        {% if Diff|get_at_index:page in Range %}
            {% if Diff|get_at_index:page == 0 %}
                <li class="active"><a href="?pagina={{page}}">{{ page }} </a></li>
            {% else %}
                <li><a href="?pagina={{page}}">{{ page }} </a></li>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if Componenten.has_next %}
        <li><a href="?pagina={{ Componenten.next_page_number }}">›</a></li>
        <li><a href="?pagina={{ Componenten.paginator.num_pages }}">»</a></li>
    {% else %}
        <li class="disabled"><a href="javascript:void(0);">»</a></li>
    {% endif %}
</ul>