{% extends "base.html" %}
{% load static %}
{% block content %}

<script>


$(document).ready(function(){
  $(".toggle").click(function(){
  var parent = $(this).parent();
  var child = parent.children(".body-toggled");
    $(child).slideToggle(100);
  var pull = $(this).children(".pull-right ");
  var switcher = $(pull).children(".switcher ");
  $(switcher).toggleClass("dropup");
  });

   /* $(".slider").noUiSlider({
	start: [20, 80],
	connect: true,
	range: {
		'min': 0,
		'max': 100
	}
    }); */

var minimaal = {{minPriceSliderValue}}
var maximaal = {{maxPriceSliderValue}}

$('.slider').noUiSlider({
    start: [minimaal , maximaal ],
    connect: true,
    
    
    // Configure tapping, or make the selected range dragable.
   
    
    // Full number format support.
    format: wNumb({
        mark: ',',
        decimals: 1
    }),
    
    // Support for non-linear ranges by adding intervals.
    range: {
        'min': minimaal,
        'max': maximaal
    }
});

// Reading/writing + validation from an input? One line.
$('.slider').Link('lower').to($('#sliderMinValue'));

// Write to a span? One line.
$('.slider').Link('upper').to($('#sliderMaxValue'));

// Optional addon: creating Pips (Percentage In Point);




});




</script>


<div class="container">


    <div class="col-md-4 col-lg-3 ">

    <div class="panel panel-primary top-margin  ">
        <div class="panel-heading">
            <h3 class="panel-title">Filter</h3>
        </div>

        <div class="panel-body">

            <div class="panel panel-default">
                <div class="panel-heading toggle">Levertijd   <div class="pull-right"><span class="switcher dropup"><span class="caret"></span></span> </div></div>
                <div class="panel-body body-toggled">
                    <div class="checkbox customcheck">
                        <label>
                            <!--Checbox value on click via ajax naar views -->
                                <input type="checkbox" value="morgen" action="processoren/" id="stockCheck" onChange="filter()"> Direct leveraar
                        </label>

                    </div>
                    <div class="checkbox customcheck">
                        <label>
                            <input type="checkbox"> Checkbox
                        </label>
                    </div>
                    <div class="checkbox customcheck">
                        <label>
                            <input type="checkbox"> Checkbox
                        </label>
                    </div>
                </div>



            </div>

            <div class="panel panel-default">
                <div class="panel-heading toggle">Panel heading   <div class="pull-right"><span class="switcher dropup"><span class="caret"></span></span> </div></div>
                <div class="panel-body body-toggled">
                    <div class="slider" ></div>
                    <input id ="sliderMinValue" onChange="filter()" class="col-md-6 col-lg-6 ">
                    <input id ="sliderMaxValue" onCHange="filter()" class="col-md-6 col-lg-6 pull-right ">
                </div>



            </div>



            <div class="panel panel-default">
                <div class="panel-heading toggle">Panel heading   <div class="pull-right"><span class="switcher dropup"><span class="caret"></span></span> </div></div>
                <div class="panel-body body-toggled">

                    <div class="checkbox customcheck">
                        <label>
                            <input type="checkbox"> Checkbox
                        </label>
                    </div>
                    <div class="checkbox customcheck">
                        <label>
                            <input type="checkbox"> Checkbox
                        </label>
                    </div>
                    <div class="checkbox customcheck">
                        <label>
                            <input type="checkbox"> Checkbox
                        </label>
                    </div>
                </div>
            </div>




        </div>
    </div>




</div>

    <div class="col-md-8 col-lg-9" id="productList">

    <script>
        $(document).ready(function(){
            $('.prijs').each(function(i) {
                var prijs = $(this).text()
                var prijsArray = prijs.split('.')
                var decimal = prijsArray[1].substring(0,2)
                if (decimal.toString().length == 1) {
                    decimal += 0
                }
                var prijs = "€" + prijsArray[0] + "," + decimal
                $(this).html(prijs)
            });
        });
    </script>
    
        <div class=" top-margin ">
            <h1>{{Componenten.categorie.0|truncatewords:1|slice:"-4" }}</h1>
            {% for component in Componenten %}
           
            <div class="list-group table-border">
                <div class="list-group-item">
                    <div class="row-picture">
                        <img class="square" src="http://lorempixel.com/56/56/people/1" alt="icon">
                    </div>

                    <div class="row-content">
                        <div class="col-md-10 col-lg-10">
                            <h4 class="list-group-item-heading">{% for name in component.naam %}{{ name }}{% endfor %}</h4>
                            <p class="list-group-item-text">{% for desc in component.info %} {{ desc }} {% endfor %} </p>
                        </div>
                        <div class=" col-md-2 col-lg-2  ">
                            <p class="list-group-item-text pull-right prijs">{{ component.prijs.0 }}  </p>

                            <p class="list-group-item-text  ">{{ component.stock.0 }}</p>



                            <a href="/detail/?product={% for name in component.naam %}{{ name }} {% endfor %}&amp;categorie={{component.categorie|truncatewords:1 }}&amp;prijs={{ component.prijs.0|slice:'-1' }}&amp;productid={{component.id}}" class="btn btn-primary">details</a>


                            

                        </div>
                    </div>

                </div>



            </div>
            
            {% endfor %}

        </div>

        {% include "page_snippet.html" %}

    </div>


</div>



{% endblock %}