{% extends "base.html" %}
{% load static %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href='{% static "css/demo.css" %}'/>
<link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'/>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>


{% endblock %}
{% block content %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>

	<div class='container'>
		<div class="col-md-8 col-lg-11">
			<div class="panel panel-primary top-margin  ">
                    <div class="panel-heading toggle" style="text-align:center;"> Registreer  <div class="pull-right"><span class="switcher"><span class="caret"></span></span> </div></div>
                    <div class="panel-body body-toggled" style='display:block;'>

						<div class="col-md-10 col-lg-12 text-center" style="margin-left: auto; margin-right: auto;">
							<form action='registreer' method='post'>
			            		{% csrf_token %}
			            		<div class='errormsgbox'>{{ registreer.errors }}</div>
			            		{{ registreer.as_table }}<br><br>
			            		<button type='submit' class="btn btn-primary" name='submit'>registreer</button>
			            	</form>
			            </div>   
                    </div>
				</div>
			</div>
		</div>

	<a href='/login/'><div class='container'>
		<div class="col-md-8 col-lg-11">
			<div class="panel panel-primary top-margin  ">
                    <div href='/login/' class="panel-heading toggle" style="text-align:center;"> Log in  <div class="pull-right"><span class="switcher dropup"><span class="caret"></span></span> </div></div>
                    <div id='login' class="panel-body body-toggled" style="display:none;">
						
				            	
                    </div>
				</div>
			</div>
		</div>
	</a>

{% endblock %}